<h2>New Product</h2>
<form action="/products" method= "post">
  <div>
  Name: <input type="text" name="name">
  </div>
  <br>
  <div>
  Price: <input type="decimal" name="price">
  </div>
  <br>
  <div>
  description <input type="text" name="description">
  </div>
  <br>
  <select name="supplier_id">
    <option value="1">Apple</option>
    <option value="2">Amazon</option>
  </select>
  <br>
  <br>
  <div>
  <input type="submit" value="Create Product">
  </div>


</form>
<br>
<a href="/products">All Products</a>